{
    "FaqUrl":"https:\/\/wannabe.games\/faq",
    "DiscordUrl":"https:\/\/discord.gg\/gxaRgKEzVa",
    "PrivacyPolicyUrl":"https:\/\/creatureracer.com\/privacy-policy",
    "TermsOfUseUrl":"https:\/\/creatureracer.com\/terms-conditions",
    "RegisterUrl":"https:\/\/app.creatureracer.com\/register",
    "EndpointLogin":"https:\/\/app.creatureracer.com\/api\/user\/token",
    "EndpointRefreshToken":"https:\/\/app.creatureracer.com\/api\/user\/token\/refresh",
    "EndpointUserInfo":"https:\/\/app.creatureracer.com\/api\/user\/current",
    "EndpointSettings":"https:\/\/app.creatureracer.com\/api\/game\/settings",
    "EndpointPlayer":"https:\/\/app.creatureracer.com\/api\/game\/player",
    "EndpointPlayerByWallet":"https:\/\/app.creatureracer.com\/api\/game\/wallet\/{id}\/player",
    "EndpointRaceStart":"https:\/\/app.creatureracer.com\/api\/game\/race\/start",
    "EndpointRaceFinish":"https:\/\/app.creatureracer.com\/api\/game\/race\/finish",
    "EndpointRaceFinishByWallet":"https:\/\/app.creatureracer.com\/api\/game\/wallet\/{id}\/race\/finish",
    "EndpointExperience":"https:\/\/app.creatureracer.com\/api\/game\/experience",
    "EndpointCreaturesByWallet":"https:\/\/app.creatureracer.com\/api\/game\/wallet\/{id}\/user-creatures"
}
