{
    "FaqUrl":"https:\/\/wannabe.games\/faq",
    "DiscordUrl":"https:\/\/discord.gg\/gxaRgKEzVa",
    "PrivacyPolicyUrl":"https:\/\/creatureracer.com\/privacy-policy",
    "TermsOfUseUrl":"https:\/\/creatureracer.com\/terms-conditions",
    "RegisterUrl":"https:\/\/app.creatureracer.com\/register",
    "EndpointLogin":"https:\/\/app.creatureracer.com\/api\/user\/login_check",
    "EndpointUserInfo":"https:\/\/app.creatureracer.com\/api\/user\/current",
    "EndpointSettings":"https:\/\/app.creatureracer.com\/api\/game\/settings",
    "EndpointPlayer":"https:\/\/app.creatureracer.com\/api\/game\/player",
    "EndpointRaceStart":"https:\/\/app.creatureracer.com\/api\/game\/race\/start",
    "EndpointRaceFinish":"https:\/\/app.creatureracer.com\/api\/game\/race\/finish",
    "EndpointRefreshToken":"https:\/\/app.creatureracer.com\/api\/user\/token\/refresh",
    "EndpointExperience":"https:\/\/app.creatureracer.com\/api\/game\/experience"
}
